@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap');
@import "tailwindcss";
@import './shared/ui/index.css';

/* Prevent Chrome / Webkit browser autofill background and text color overrides */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: 0 0 0px 1000px #020617 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}
